<h4 class="text-justify">Program <strong>„UKE Rejestr”</strong> umożliwia rejestrowanie, aktualizację i wykreślenia z Rejestru Prezesa UKE.</h4>
<h4 class="text-justify">Aby dokonać jednej z powyższych czynności musisz posiadać w UKE swoje konto. Jeśli nie masz konta, utwórz je. Po utworzeniu konta, zaloguj się i wypełnij stosowny formularz.</h4>
<h4 class="text-justify">Na Twój adres e-mail będą przekazywane informacje o statusie Twojego wniosku.</h4>
