<h4 class="text-justify">The <strong>"UKE Registry"</strong> enables registration, updating and deletion from the Register of the President of UKE.</h4>
<h4 class="text-justify">To perform one of the above activities, you must have an account in UK. If you don't have an account, create one. After creating your account, log in and complete the appropriate form.</h4>
<h4 class="text-justify">Information about the status of your application will be sent to your e-mail address.</h4>
