<div id="tab_proposals">

  <%# if proposal_policy_check(:proposal, 'index', @register.service_type) %>
    <fieldset class="my-fieldset">
      <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= report_index_legend %></legend>

      <p>..............</p>
      <p>..............</p>
      <p>..............</p>

    </fieldset>
  <%# end %>

</div>
