<div class="fields">
  <div class="row" >
    <div class="form-group required col-sm-5">
<!--      <strong><%#= ProposalNetwork.human_attribute_name(:network_type) %></strong><br> -->
     <%= proposal_network.network_type.name %>
    </div>

    <div class="form-group required col-sm-6">
<!--       <strong><%#= ProposalNetwork.human_attribute_name(:description) %></strong><br> -->
      <%= proposal_network.description.html_safe %>
    </div>

  </div>

</div>