<!-- <div class="row">
  <div class="col-sm-12">
    <fieldset class="my-fieldset">
      <legend class="my-fieldset"><%#= t('.fieldset_title') %></legend>
 -->
      <%= render "/proposals/form_3_areas", f: f, proposal: @proposal_candidate %>
<!-- 
    </fieldset>
  </div>
</div>
 -->