<div class="grid-container">

  <div class="sidebar">
    <%= render 'sidebar_show' %>
  </div>

  <div class="main-content">
    <br>
    <div class="container-fluid"> 
      <div class="row">

        <div class="col-sm-12">
          <div class="tab-content clearfix">

            <div role="tabpanel" class="tab-pane active" id="user_show">
              <%= render 'data', input_disabled: true, subtitle: user_info_legend(@user) %>
            </div>

            <div role="tabpanel" class="tab-pane" id="roles">
              <%= render 'roles', trackable_type: "User", trackable_id: @user.id, subtitle: user_info_legend(@user) %>
            </div>

            <div role="tabpanel" class="tab-pane" id="works">
              <%= render 'works/works_tab', trackable_type: "User", trackable_id: @user.id, subtitle: user_info_legend(@user) %>
            </div>

          </div>
        </div>

      </div>

    </div>

    </div> <!--/container-fluid--> 
  </div> <!--/main-content--> 

</div> <!--/grid-containe--> 

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
