<div class="row">

  <div class="col-sm-6">

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :status_comment, class: 'control-label' %>
        <%= f.trix_editor :status_comment %>
        <%#= f.text_area :status_comment, :rows => 4, class: 'form-control input-sm' %>
      </div>
    </div>  <!-- /row -->          

  </div> <!--/col-sm-6-->

</div>