<div class="col-sm-2">
  <%= link_to(formated_date(proposal.insertion_date), proposal_path(proposal.service_type, proposal)) %>
</div>

<div class="col-sm-2">
  <%= proposal.proposal_type.name %>
</div>

<div class="col-sm-2">
  <%= proposal.proposal_status.name %>
</div>

<div class="col-sm-6">
  <%= last_updated_legend(proposal) %>
</div>
