<div class="grid-container">

  <div class="sidebar">
    <%= render 'sidebar_show' %>
  </div>

  <div class="main-content">
    <br>
    <div class="container-fluid"> 
      <div class="row">

        <div class="col-sm-12">
          <div class="tab-content clearfix">

            <div role="tabpanel" class="tab-pane active" id="role_show">
              <%= render 'data', input_disabled: true, subtitle: role_info_legend(@role) %>
            </div>

            <div role="tabpanel" class="tab-pane" id="users">
              <%= render 'users', subtitle: role_info_legend(@role) %>
            </div>

            <div role="tabpanel" class="tab-pane" id="works">
              <%= render 'works/works_tab', trackable_type: "Role", trackable_id: @role.id, subtitle: role_info_legend(@role) %>
            </div>

          </div>
        </div>

      </div>

    </div> <!--/container-fluid--> 
  </div> <!--/main-content--> 

</div> <!--/grid-containe--> 
