$(document).ready(function() {

  $.fn.dataTable.ext.buttons.user_roles_reset_col_vis_and_reorder = {
    text: '<span class="text-primary fa fa-retweet"></span>',
    // titleAttr: 'Przywróć domyślne ustawienia kolumn',
    className: 'btn btn-sm btn-default',
    action: function ( e, dt, button, config ) {
      // revert colVis  // dt.columns(config.show).visible(true);
      // 0-ID 
      dt.columns(':gt(1)').visible(true);

      dt.colReorder.reset();
      //dt.state.clear();
      dt.search('');
      dt.draw();
    }  
  };

  $.fn.dataTable.ext.buttons.user_roles_button_only_checked = {
    //text: 'Wszystko',
    text: '<span class="text-primary fa fa-square"></span>',
    // titleAttr: 'Wszystkie/tylko moje',
    className: 'btn btn-sm btn-default',
    init: function ( dt, node, config ) {
      // button 4 na starcie wlaczony
      // dt.button( 4 ).text('<span class="text-primary fa fa-user"></span> Tylko moje');
      dt.button( 4 ).text('<span class="text-primary fa fa-check-square"></span>');
      dt.button( 4 ).active( true );
    },
    action: function ( e, dt, node, config ) {
      if (dt.button( 4 ).active() == false) {
        dt.button( 4 ).text('<span class="text-primary fa fa-check-square"></span>');
        dt.button( 4 ).active( true );
      } else {
        dt.button( 4 ).text('<span class="text-primary fa fa-square"></span>');
        dt.button( 4 ).active( false );
      };
      dt.draw();
    }
  };

  var oUserRolestable = $('#user-roles-table').DataTable({
    dom: '<"top" <"row" <"col-sm-9" <"pull-left"l><"pull-left"B> > <"col-sm-3 pull-right"f> > > rt <"bottom"ip><"clear">',
    buttons: [
      'user_roles_reset_col_vis_and_reorder',
      {
        extend:    'colvis',
        text:      '<span class="text-primary fa fa-columns"></span>',
        // titleAttr: 'Pokaż/ukryj kolumny',
        className: 'btn btn-sm btn-default',
        columns:   ':gt(1)' //exclude cols from list
      }, 
      {
        extend:    'copy',
        text:      '<span class="text-primary fa fa-clipboard"></span>',
        // titleAttr: 'Kopiuj do schowka',
        className: 'btn btn-sm btn-default'
      },
      {
        extend:    'csv',
        text:      '<span class="text-primary fa fa-file-csv"></span>',
        // titleAttr: 'Kopiuj do CSV',
        className: 'btn btn-sm btn-default'
      },
      'user_roles_button_only_checked'
    ],
    responsive: true,
    processing: true,
    serverSide: true,
    deferRender: true,
    searchDelay: 500,
    colReorder: {
      fixedColumnsLeft: 2
    },
    ajax: { 
      url: $('#user-roles-table').data('source'),
      type: "GET",
      dataType: 'json',
      data: function(d){
        d.checked_only_filter = $('#user-roles-table').DataTable().button(4).active();
      },
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    },
    pagingType: "full_numbers",
    lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "Wszystkie"]],
    iDisplayLength: -1,
    columns: [
      { "data": "id", "visible": false }, 
      { "data": "name" }, 
      { "data": "activities" }, 
      { "data": "has_role", "sortable": false, "width": '80px' },
      { "data": "action", "sortable": false, "width": '50px', className: 'datatable-action-column' }
    ],
    preDrawCallback: function( settings ) {
      // jezeli panel nie jest widoczny, to przerwij ładowanie danych
      if ( $( "#tab_roles" ).is( ":hidden" ) ) {
        return false;
      }
    },
    order: [[ 1, "asc" ]],
    language: {
      url: $('#user-roles-table').data('locale_url')
    },
    initComplete: function(settings, json) {
      oUserRolestable.button(0).node().attr( 'title', oUserRolestable.i18n( 'buttons.revertColVisColReorder' ) );
      oUserRolestable.button(1).node().attr( 'title', oUserRolestable.i18n( 'buttons.colvis' ) );
      oUserRolestable.button(2).node().attr( 'title', oUserRolestable.i18n( 'buttons.copy' ) );
      oUserRolestable.button(3).node().attr( 'title', oUserRolestable.i18n( 'buttons.csv' ) );
      oUserRolestable.button(4).node().attr( 'title', oUserRolestable.i18n( 'buttons.onlyChecked' ) );
    }
  });

  // jezeli nastepuje wyswietlenie tab, to zaladuj dane
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var target = $(e.target).attr("href") // activated tab
    if (target == '#roles') {
      oUserRolestable.draw();
    };
  });



  $('#user-roles-table tbody').on( 'click', 'button', function () {

    var message = $(this).attr('toastr-message');

    $.ajax({
      url: $(this).attr('ajax-path'),
      type: $(this).attr('ajax-method'),
      success: function (response) {
        oUserRolestable.draw();
        toastr.options = {
          "closeButton": false,
          "debug": true,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-top-right",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "100",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        };
        toastr['success'](message);
      },
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    });
  });

});

