<div class="fields">

  <div class="row" >

    <div class="form-group required col-sm-3">
      <%= proposal_area.province_name %>
    </div>

    <div class="form-group col-sm-3">
      <%= proposal_area.district_name %>
    </div>

    <div class="form-group col-sm-4">
      <%= proposal_area.commune_name %>
    </div>

  </div>
  
</div>