.select2-match {
	//font-weight: bold;
	//font-weight: 600;
	//text-decoration: none !important;
	//font-variant:small-caps;
	//font-size: 120%;
  text-decoration: underline;
}

/*
.select2-result-selectable .select2-match, .select2-result-unselectable {
	font-weight: bold;
	color: lighten(#BECC25, 5%);
	text-decoration: underline !important;
}

*/
/*
$bgHighlight    : lighten(#BECC25, 40%) !default;  //<hr> separator
$colDefault     : #555;
$colHighlight   : #1B3C8F; //hover

$brand-primary:     #1B3C8F;
$brand-success:     #5cb85c;
$brand-info:        #5bc0de;
$brand-warning:     #f0ad4e;
$brand-danger:      #d9534f;

*/